extends ./layout.jade

block content
  .proprtyForm
    .header 
      h1 Manage properties
    .addPropertyPlaceholder Click here to add new property
    .addPropertyEditArea
      form#property(method='POST')
        .row
          label.fullWidth(for='propertyName') Caption
          input#propertyName(type='text' name='name')
        .row
          label.fullWidth(for='propertyAddress') Address
          input#propertyAddress(type='text' name='address')
        .row
          label.fullWidth(for='propertyPayment') Monthly payment
          input#propertyPayment(type='text' name='payment')
        .row
          #addPropertyButton.btn.btn-primary(type='submit') Add
          #cancelAddPropertyButton.btn.btn-default(type='cancel') Cancel
    table.table
      tr
        th.actions
        th.propertyCaption Property caption
        th.propertyAddress Property address
      for property in properties
        tr.markSelection
          td.actions
            a.viewProperty(data-propertyid=property.id)
              span.glyphicon.glyphicon-search
            a.removeProperty(data-propertyid=property.id)
              span.glyphicon.glyphicon-remove
          td.propertyCaption= property.name
          td.propertyAddress= property.address
block scripts
  script(type='text/javascript', src='js/manageProperties.js')
