extends ./layout.jade

block content
  .content
    #problemCaption.row
      span Broken boiler
      #problemMenu
        .dropdown
          button#fixIssueButton.btn.btn-success(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | Mark fixed 
            span.caret
          ul.dropdown-menu(aria-labelledby='dLabel')
            li Reject
    #problemDescription.row
      p Dear,
      p Since yeasterday I have problems with the boiler.
    #problemCommentsMenu.row
      .btn.btn-default
        span.glyphicon.glyphicon-plus
        |  add comment
    #problemComments.row
      | No comments yet
  script(type='text/javascript', src='js/jquery.js')
  script(type='text/javascript', src='js/bootstrap.js')
