extends ../layoutTenant.jade

block content
  .row(style='opacity: 1;')
    .propertyPage.col-xs-12
      .row
        #pageCaption.col-xs-12
          = __('Documents')
      
      .row
        .col-xs-12
          table.table
            tr
              td
                a(href='docs/lease.pdf') Lease contract
            tr
              td
                a(href='docs/check-in.png') Check-in contract
            tr
              td
                a(href='docs/assurance.png') Assurance

block scripts    
  script(type='text/javascript', src='js/jquery.mask.min.js')
  script(type='text/javascript', src='js/bootstrap-datepicker.min.js')
  script(type='text/javascript', src='js/property.js')


