extends ../layoutTenant.jade

block content
  .row(style='opacity: 1;')
    table.table
      tr
        th #{__('Problem')}
        th #{__('Date')}
      for issue in issues
        tr(class= issue.status == 'new' ? 'issue newIssue' : 'issue')
          td= issue.issueCaption
          td= issue.creationDate
block scripts    
  script(type='text/javascript', src='js/jquery.mask.min.js')
  script(type='text/javascript', src='js/bootstrap-datepicker.min.js')
  script(type='text/javascript', src='js/property.js')


